body{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    margin: 0;
}
nav, main > section{
    overflow: auto;
}
main > section{
    min-height: 100vh;
}
#nav{
    justify-content: space-between;
	align-items: baseline;
	padding: 1em;
    display: flex;
    background-color: lightskyblue;
    background-image: url(images/Pattren1.jpg);
}
nav h1, ul {
    margin: 0
}

nav a {
    text-decoration: none;
    color: rgba(46, 122, 194, 0.89);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.966);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul a {
    padding: 1em;
    color: tomato;
}

nav ul a:hover {
    color:red;
}

#Home{
    background-color: lightslategrey;
    background-image: url(images/Home.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
#Home > div{
    position: relative;
    bottom: 150px;
    color: snow;
}
#Home h2{
    color: #9e1b1b;
    margin: 0;
    text-shadow: 0 0 20px #ffffff;
}
#Home h3{
    color: rgba(125, 44, 231, 0.89);
    font-family: monospace;
    text-shadow: 0 0 20px white ;
}

#Choose-games{
    background-color: deepskyblue;
    background-image: url(images/Pattren1.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Choose-games ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
#Choose-games > h3{
    margin: 1em;
    font-size: 1.5em;
    color:  rgba(46, 122, 194, 0.89);
    text-shadow: 0 0 30px rgb(255, 255, 255);
    
}
.card{
    width: 400px;
    margin: 1em;
    background-color: plum;
}
.card img{
    width: 100%;
}
.card h3{
    font-size: 2em;
}
.card h3, .card p{
    margin: 1rem;
}

#Profile{
    background-color: mediumpurple;
    background-image: url(images/tokyo.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Profile > div{
    background-color: lavender;
    padding:1em ;
    width:75% ;
    max-width: 700px;
}
#Profile h2{
    font-size: 4em;
    text-align: center;
}

#About-Us{
    background-color: mediumseagreen;
    background-image: url(images/Pattren1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    color: mediumvioletred;
}
.boxed{
    border: seashell;
}
#About-Us > div{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
    background-color: seashell;
}
#About-Us h2, #About-Us p{
    margin: auto;
}
#About-Us h2{
    font-size: 2em; 
}
#About-Us> div img{
    width: 100%;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.44);
}

#Choose-anime{
    background-color: deepskyblue;
    background-image: url(images/tokyo3-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Choose-anime ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
#Choose-anime > h3{
    margin: 1em;
    font-size: 3em;
    color: rgba(125, 44, 231, 0.89);
    
}
.card{
    width: 400px;
    margin: 1em;
    background-color:lightcoral;
}
.card img{
    width: 100%;
    max-height: 300px;
}
.card h3{
    font-size: 2em;
}
.card h3, .card p{
    margin: 1rem;
}

#contact {
    background-color: mediumpurple;
    background-image: url(images/Pattren1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact h2, h3{
    text-shadow:0 0 20px white;
    color: #9e1b1b;
}

#contact > form {
    display: flex;
}

#contact > form > div {
    display: flex;
    flex-direction: column;
}

#contact label {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    color:rgba(46, 122, 194, 0.89);
}

label {
    margin: 1em 0;
}

label span {
    margin: 1em 0;
}

input, textarea {
    border: 1px solid #000;
    padding: 0.5em;
    margin: 0 2em 0 0;
    width: 20em;
    font-size: 1em;
}

textarea {
    height: 9em;
    margin: 0 0 0 0;
}

form button {
    width: auto;
    font-size: 1em;
    margin: 1em 0;
    align-self: flex-end;
    padding: 0.5em 1em;
    background-color:red;
    color: #fff;
    border: none;
} 
.button {
    border: none;
    color: rgb(15, 153, 123);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button:hover {
    background-color: #4CAF50;
    color: white;
  }
  #input-color{
      max-width: 50px;
  }
  #creator{
      max-height: 580px;
  }